html{
    background-color:burlywood;
    text-align:center;
}

.box1 {
    display: inline-block;
    background-color:darkolivegreen;
    height: 100px;
    width: 300px;
}

.box2 {
    display: inline-block;
    background-color: saddlebrown;
    height: 100px;
    width: 300px;
}

input {
    display: block;
    height: 100%;
    width: 100%;
    background-color:transparent;
}

.counter h1{
    font-size: 200px;
}

.winnerText {
    color: gray;
}

#winner {
    color: maroon;
}