html { 
    height: 100%; 
    
}

body {
    background-color: burlywood !important;
    text-align:center;
    height: 100%;
}

.box1 {
    display: inline-block;
    background-color:darkolivegreen;
    height: 100px;
    width: 300px;
}

.box2 {
    display: inline-block;
    background-color: saddlebrown;
    height: 100px;
    width: 300px;
}

.screen button {
    display: block;
    height: 100%;
    width: 100%;
    background-color:transparent;
}

.counter h1{
    font-size: 200px;
}

.winnerText {
    color: mediumspringgreen;
}

#winner {
    color: maroon;
}

#message-box {
    display: inline-block;
    width: 70%;
    margin-bottom: auto; 
}

#send-message {
    display: inline-block;
    flex: 1;
}

.message-form {
    display: flex;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
    text-align:center;
}

.first {
    flex: 1;
    background-color:aqua;
}

.second {
    flex: 2;
    background-color: grey;
}

.third {
    flex: 1;
    background-color:aqua;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#room-code, #username-code{
    display:none;
}


li {
    font-size: 35px;
    list-style-type: None;
}

.screen input {
    width:80%;
}

.screen button {
    background-color:green;
}