html { 
    height: 100%; 
    
}

body {
    background-color: #222222 !important;
    text-align:center;
    height: 100%;
}

.box1 {
    display: inline-block;
    background-color:#D6D6D6;
    height: 100px;
    width: 300px;
}

.box2 {
    display: inline-block;
    background-color: #D6D6D6;
    height: 100px;
    width: 300px;
}

.screen button {
    display: block;
    height: 100%;
    width: 100%;
    background-color:transparent;
}

.counter h1{
    font-size: 200px;
}

.winnerText {
    color: mediumturquoise; /*mediumspringgreen*/
}

#winner {
    color: mediumspringgreen; /*maroon*/
}

#message-box {
    display: inline-block;
    width: 70%;
    margin-bottom: auto;
    color: #717579;
    background-color: #717579;
    border: none;
    padding: 0.5vw 2vh;
    font-size: 1vw;
    border-radius: 1vh;
}

#send-message {
    display: inline-block;
    width: 20%;
    flex: 1;
    color: #D6D6D6;
    background-color: #717579;
    border: none;
    padding: 0.5vw 2vh;
    font-size: 1vw;
    border-radius: 1vh;
}

.message-form {
    /* display: flex; */
    width: 100%; 
}

.content {
    display: flex;
    width: 100%;
    text-align:center;
}

.first {
    flex: 1;
    background-color: #2C2b30;
    color: #D6D6D6;
}

.second {
    flex: 2;
    background-color: #424549;
}

.third {
    flex: 1;
    background-color: #2C2b30;
    color: #D6D6D6;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#room-code, #username-code{
    display:none;
}


li {
    font-size: 35px;
    list-style-type: None;
}

.screen input {
    width:80%;
}

.screen button {
    background-color:lightgreen;
}

#app-name {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: #F3EFE0;
}

#username {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 12.5%;
    margin-bottom: auto;
    color: #F3EFE0;
    background-color: #434242; /*#717579*/
    border: none;
    padding: 0.5vw 2vh;
    font-size: 1vw;
    border-radius: 1vh;
}

#userHelp {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 25%; */
    margin-bottom: auto;
    /* border: none;
    padding: 0.5vw 2vh;
    font-size: 1vw;
    border-radius: 1vh; */
}

#room {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 12.5%;
    margin-bottom: auto;
    color: #F3EFE0;
    background-color: #434242; /*#717579*/
    border: none;
    padding: 0.5vw 2vh;
    font-size: 1vw;
    border-radius: 1vh;
}

#join-room {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #22A39F;
    color: #F3EFE0;
}

#start-text, #user-count, #counter, #prompt, #end-msg, #win-msg {
    color: #D6D6D6;
}

#button1 {
    background-color: #D6D6D6;
}

#button2 {
    background-color: #D6D6D6;
}

#roomLabel {
    position: relative;
    top: 15%;
    /* left: 50%; */
    transform: translate(0%, -50%);
}

#usernameLabel {
    position: relative;
    top: 15%;
    /* left: 50%; */
    transform: translate(0%, -50%);
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    color: #D6D6D6;
    opacity: 1;
  }
  
  /* Internet Explorer 10-11 */
  :-ms-input-placeholder { 
    color: #D6D6D6;
  }
  /* Microsoft Edge */
  ::-ms-input-placeholder { 
    color: #D6D6D6;
  }
  html, body, #app, #app>div {
    height: 100%
  }